* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: #8187d6;
}

main {
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    padding: 50px;
    box-shadow: 3px 3px 5px black;
}
img.lado {
    float: right;
}