* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: #f0a550;
}

main {
    background-color: rgb(134, 86, 23);
    width: 50%;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}