* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: #48484b;
}

main {
    background-color: rgba(255, 254, 254, 0.945);
    width: 50%;
    margin: auto;
    padding: 50px;
    box-shadow: 3px 3px 5px rgb(109, 107, 107);
    border-radius: 3%;
}
img.lado {
    float: right;
}

img#my-img {
    border-radius: 350%; 
    border: 3px solid rgb(70, 65, 65);
    width: 250px;
    height: 250px;
;

}